<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<!-- index.html -->
<h1>Bem-vindo(a), <span id="teste">aaaaa</span></h1>
<input type="text" id="meuTexto">
<button onclick="verifDados()">Enviar</button>

<script src="{{ url_for('js_routes.jquery') }}"></script>
<script src="{{ url_for('js_routes.requestFlask') }}"></script>
<script>
var meuTexto = document.getElementById('meuTexto')
function verifDados(){
  if (meuTexto.value === '') {
    alert("O texto está vazio")
  } else {
    requestDados(meuTexto.value)
  }
}

</script>


</body>
</html>