*{
	margin: 0;
}
body{
	width: 100%;
	font-family: sans-serif;
}
body h1,h2,h3{
	text-align: center;
	font-weight: 600;
}

center{
	color: #ddd;
}


strong{
	color: rgb(40, 40, 40);
}

html{
	font-size: 80%;
}

table, th, td, tr {
  padding: 6px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.dados{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dados .left img{
	width: 150px;
	border-right:1px solid #ddd;
	margin-right: 100px;
}

.dados .left{
	display: flex;
	max-width: 500px;
}

.dados .left div{
	display: flex;
	flex-direction: column;
}

#qrd{
	background: #efefef;
	padding: 10px;
	border-radius: 3px;
	width: 100px;
	margin-right: 18px;
}